# Producción
Django==4.2
djangorestframework==3.17.1
PyJWT==2.12.1
django-filter==25.1
django-cors-headers==4.9.0
psycopg2-binary==2.9.11
gunicorn==25.3.0
celery==5.4.0
redis==5.2.1
django-celery-beat==2.7.0
flower==2.0.1

# Desarrollo y tests
pytest==9.0.3
pytest-django==4.12.0
ruff==0.15.10
